* {
    box-sizing: border-box;
}

body {
    background-color: #84cc16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 45px;
    color: #fff;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: #222;
}

.btn:active {
    transform: scale(0.98);
}